.task,
.takenTask,
.myTakenTasks {
  padding: 20px;
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  transition: 0.2s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.051);
  border: 1px solid rgba(153, 153, 153, 0.623);
  margin: 10px;
  padding-bottom: 5px;
  width: calc(100% - 40px);
}

.task:hover,
.takenTask:hover,
.myTakenTasks {
  transform: translateY(-4px);
}

.task:hover .bottomTask {
  opacity: 1;
}
.mainContainer {
  display: flex;
  height: 100%;
  align-items: flex-start;
}

.openTasks,
.takenTasks {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  border-right: 2px solid rgba(153, 153, 153, 0.226);
}

.task pre,
.task h5,
.task p,
.takenTask pre,
.takenTask h5,
.takenTask p,
.myTakenTasks pre,
.myTakenTasks h5,
.myTakenTasks p {
  margin: 0;
}
.myTakenTasks h5,
.myTakenTasks pre,
.takenTask h5,
.takenTask pre {
  padding-left: 10px;
}

.takenTask p,
.myTakenTasks p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.newTaskForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid rgba(153, 153, 153, 0.226);
}

.newTaskForm button {
  font-size: 20px;
  border: 0;
  outline: none;
  color: #000;
  cursor: pointer;
  transition: 0.14s ease;
  background-color: rgba(211, 211, 211, 0.185);
  border: 1px solid rgb(221, 221, 221);
  margin: 10px 0;
  padding: 4px 0;
  border-radius: 4px;
}

.newTaskForm button:hover {
  background-color: rgba(211, 211, 211, 0.253);
  color: rgba(0, 0, 0, 0.753);
  letter-spacing: 1px;
}

.newTaskForm input {
  padding: 4px;
  border: 1px solid rgba(153, 153, 153, 0.623);
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.takenTask,
.myTakenTasks {
  padding: 10px;
  padding-top: 5px;
  width: calc(100% - 20px);
}

.myTakenTasks .bottomTask {
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  transition: 0.15s ease;
}

.myTakenTasks {
  padding-right: 5px;
  padding-bottom: 5px;
}

.myTakenTasks:hover .bottomTask {
  opacity: 1;
}

.textArea {
  padding: 4px;
  min-height: 50px;
  margin: 3px 0;
  font-size: 16px;
  max-height: 400px;
  outline: none;
  border: 1px solid rgba(153, 153, 153, 0.623);
  resize: none;
}

.openTasksHeader {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  text-align: start;
  padding: 10px 0;
  margin: 5px 0;
  padding-top: 3px;
  margin-top: 0;
  border-bottom: 2px solid rgba(153, 153, 153, 0.226);
}

.navBar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  font-size: 18px;
}
.navBar a,
.navBar div {
  cursor: pointer;
  text-decoration: none !important;
  color: #000;
}
.navBar div {
  display: flex;
  transition: 0.2s ease;
}

.navBar div div:hover,
.navBar div a:hover {
  color: rgb(78, 78, 78);
}
.navBar div a {
  margin-right: 10px;
}

.bottomTask {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.15s ease;
  opacity: 0;
}

.bottomTask button {
  border: 0;
  padding: 1px 6px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 4px;
  background-color: transparent;
  border: 1px solid rgba(153, 153, 153, 0.623);
  transition: 0.1s ease;
  color: rgba(0, 0, 0, 0.712);
  outline: none;
  border-radius: 4px;
}

.bottomTask button:hover {
  background-color: rgba(228, 228, 228, 0.719);
}

.separatorLine {
  width: 100%;
  height: 2px;
  background-color: rgba(153, 153, 153, 0.226);
}

.authForm {
  flex: 1;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm input {
  width: 250px;
  height: 30px;
  font-size: 18px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid rgba(153, 153, 153, 0.623);
  margin: 5px 0;
  outline: none;
}

.authForm button {
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid rgba(153, 153, 153, 0.623);
  background-color: rgba(153, 153, 153, 0.164);
  border-radius: 5px;
  transition: 0.15s ease;

  color: rgba(0, 0, 0, 0.712);
}
.authForm button:hover {
  color: #000;
}

.loginMsg {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginMsg a {
  text-decoration: none;
  color: #000;
  margin-right: 5px;
  font-size: 20px;
  transition: 0.15s ease;
  color: rgba(0, 0, 0, 0.712);
}

.loginMsg a:hover {
  color: #000;
}

.loginMsg {
  font-size: 20px;
}
